.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.accordion__item {
  margin-bottom: 20px;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.accordion__item-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.accordion__item-title {
  display: block;
}

.accordion__item-content {
  display: none;
  padding-top: 10px;
}

.accordion__item-input:checked ~ .accordion__item-title {

}

.accordion__item-input:checked ~ .accordion__item-content {
  display: block;
}