.accordion {
  max-width: 600px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

.accordion__item {
  border-top: 1px solid grey;
  color: blue;
  cursor: pointer;
}

.accordion__input {
  position: absolute;
  appearance: none;
}

.accordion__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.accordion__title {
  display: block;
  cursor: pointer;
  font-weight: bold;
}

.accordion__icon-plus,
.accordion__icon-xmark {
  display: none;
  width: 3%;
}
.accordion__content {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  margin: 0 auto;
}

.accordion__content img {
  width: 100%;
  height: auto;
  
}

.accordion:hover .accordion__title {
  color: black;
}

.accordion__item:hover .accordion__content {
  display: block;
}

.accordion:hover .accordion__icon-plus {
  display: block;
  
}


.accordion__input:checked ~ .accordion__title {
  color: black;
}

.accordion__input:checked  + .accordion__title .accordion__icon-plus {
  transform: rotate(45deg);
}

.accordion__input:checked + .accordion__title .accordion__content {
  display: block;
}


